<!DOCTYPE html>

<html>
    <head runat="server">
        <title>EduPlus Online Class</title>
        <link href="css/bootstrap.css" rel="stylesheet" /> <!--Add bootstrap to project, zoom makes use of it-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/react-select/1.3.0/react-select.css" />
        <link href="/css/student.css" rel="stylesheet" />   
    </head>
    <body>
        <!-- import ZoomMtg dependencies -->
        <script src="https://source.zoom.us/1.8.0/lib/vendor/react.min.js"></script>
        <script src="https://source.zoom.us/1.8.0/lib/vendor/react-dom.min.js"></script>
        <script src="https://source.zoom.us/1.8.0/lib/vendor/redux.min.js"></script>
        <script src="https://source.zoom.us/1.8.0/lib/vendor/redux-thunk.min.js"></script>
        <script src="https://source.zoom.us/1.8.0/lib/vendor/jquery.min.js"></script>
        <script src="https://source.zoom.us/1.8.0/lib/vendor/lodash.min.js"></script>
        <!-- import ZoomMtg -->
        <script src="https://source.zoom.us/zoom-meeting-1.8.0.min.js"></script>
        <script src="~/Scripts/meeting.js"></script>
    </body>
</html>
