<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZOOM INTEGRATION</title>
    <link rel="stylesheet" type="text/css" href="~/Css/site.css" />
</head>
<body>
    <div class="col-12">
        <div class="div_navbar navbar-fixed navtop col-12" id="desk">
            <a class="navbar-brand" runat="server" href="~/">Zoom Integration</a>
        </div>
        <div class="col-12 div_navbar navbar-fixed navtop" id="mobTab">
            <a class="btn burger" id="burger" onclick="showModal4('#mobile_nav')">&#9776</a>
            <a class="navbar-brand" runat="server" href="~/">Zoom Integration</a>
        </div>
        <div class="col-12">
            <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2 div_list deskNav" id="div_list">
                <ul style="text-decoration: none;list-style-type:none" class="adminList">
                    <li class="li_separate"><a href="#" id="a_dashboard" onclick="ShowSelectedMenu(this.id,'#div_dashboard')"><span class="glyphicon glyphicon-home" style="color:#811eb8"></span>&nbsp;&nbsp;CREATE MEETING</a></li>
                    <li><a href="#" id="a_schoolSettings" onclick="ShowSelectedMenu(this.id,'#div_studDetails')"><span class="glyphicon glyphicon-user" style="color:#811eb8"></span>&nbsp;&nbsp;MY DETAILS</a></li>
                </ul>
            </div>
            <div id="div_mainContent" class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
                <div></div>
            </div>
        </div>

        <script src="~/Scripts/app.js"></script>
    </div>
</body>
</html>
