<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ZOOM INTEGRATION</title>
    <link rel="stylesheet" type="text/css" href="~/Css/site.css" />
</head>
<body>
    <div class="col-12">
        <div class="div_navbar navbar-fixed navtop col-12" id="desk">
            <a class="navbar-brand" runat="server" href="~/">Zoom Integration</a>
        </div>
        <div class="col-12 div_navbar navbar-fixed navtop" id="mobTab">
            <a class="btn burger" id="burger" onclick="showModal4('#mobile_nav')">&#9776</a>
            <a class="navbar-brand" runat="server" href="~/">Zoom Integration</a>
        </div>
        <div class="col-12">
            <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2 div_list deskNav" id="div_list">
                <ul style="text-decoration: none;list-style-type:none" class="adminList">
                    <li class="li_separate"><a href="#" id="a_dashboard" onclick="ShowSelectedMenu(this.id,'#div_dashboard')"><span class="glyphicon glyphicon-home" style="color:#811eb8"></span>&nbsp;&nbsp;HOST MEETING</a></li>
                    <li><a href="#" id="a_schoolSettings" onclick="ShowSelectedMenu(this.id,'#div_studDetails')"><span class="glyphicon glyphicon-user" style="color:#811eb8"></span>&nbsp;&nbsp;CLIENT MEETING</a></li>
                </ul>
            </div>
            <div id="div_mainContent" class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
                <div id="div_onlineClass" class="horTab">
                    <div>
                        <ul>
                            <li><a href="#" id="a_addOClass" class="btn btn-warning" onclick="ShowSubSelectedMenu(this.id, '#div_onlineClass', '#div_addOClass')">SCHEDULE ONLINE CLASS</a></li>
                            <li><a href="#" id="a_viewOClasses" class="btn btn-warning" onclick="ShowSubSelectedMenu(this.id, '#div_onlineClass', '#div_viewOClasses')">VIEW ONLINE CLASS(ES)</a></li>
                        </ul>
                    </div>
                    <div>
                        <div id="div_addOClass">
                            <div class="whiteBack">
                                Class Topic*<br />
                                <input class="lightGreenInput" type="text" id="classTopic" /><br />
                             
                                Date*<br /><input class="lightGreenInput" type="date" id="onlineDate" /><br />
                                Time*<br /><input class="lightGreenInput" type="time" id="onlineTime" /><br />
                                Duration (in minutes)*<br /><input class="lightGreenInput" type="number" id="onlineClassDur" /><br />
                                Teacher Video* <br /><input type="radio" name="hostVideo" onclick="hostVideo(1)" />&nbsp;ON&nbsp;<input checked="checked" type="radio" name="hostVideo" onclick="hostVideo(0)" />&nbsp;OFF<br />
                                Students Video* <br /><input type="radio" name="parVideo" onclick="stuVideo(1)" />&nbsp;ON&nbsp;<input checked="checked" type="radio" name="parVideo" onclick="stuVideo(0)" />&nbsp;OFF&nbsp;<br />
                                Meeting Option* <br />
                                <input type="checkbox" id="allowStud" onclick="allStud()" />&nbsp;Allow students to join anytime<br />
                                <input type="checkbox" id="mStud" onclick="muteStud()" />&nbsp;Mute students upon entry<br /><br />
                                <button class="btn btn-danger" id="createClass">Create Online Class</button>
                            </div>
                        </div>
                        <div id="div_viewOClasses">
                            <div class="whiteBack div_viewOClass" runat="server" id="div_viewAllOClass">
                                No online class have been created.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="~/Scripts/app.js"></script>
    </div>
</body>
</html>
